<%= simple_form_for(bill_of_material,
                    wrapper: :horizontal_form) do |form| %>
  <%= form.input :code,
                 label: false,
                 placeholder: t('bill_of_materials.columns.code'),
                 required: false %>
  <div class='float-left'>
    <%= form.button :submit,
                    t('bill_of_materials.columns.save'),
                    class: 'btn btn-primary' %>
    <%= link_to t('bill_of_materials.columns.back'),
                bill_of_materials_path,
                class: 'btn btn-outline-secondary ml-2' %>
  </div>
<% end %>
