<%= simple_form_for(unit_of_measure,
                    wrapper: :horizontal_form) do |form| %>
  <%= form.input :code,
                 label: false,
                 placeholder: :template,
                 required: false %>
  <div class='float-left'>
    <%= form.button :submit,
                    t('shared.buttons.save'),
                    class: 'btn btn-primary' %>
    <%= link_to t('shared.buttons.back'),
                unit_of_measures_path,
                class: 'btn btn-outline-secondary ml-2' %>
  </div>
<% end %>
